DISCORD_TOKEN=
YOUTUBE_TOKEN=
LLM_API_KEY=
LLM_MAX_TOKENS=2500
LLM_MAX_RESPONSE_TOKENS=700
LLM_MODEL=gpt-5.4-mini
DEFAULT_VOLUME=1.0
IDLE_DISCONNECT_SECONDS=600

STORAGE_PATH=./tmp/music

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
#POSTGRES_HOST=
POSTGRES_PORT=

MAX_QUEUE_SIZE=50